ul.horizontal-list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

ul.horizontal-list li{
  margin-right: 10px;
}

div.card{
  border: black solid;
  border-radius: 10px;
  width: 200px;
  align-items: center;
}

div.contentCardtrue{
  align-items: center;
  text-align: center;
  background-color: green;
}

div.contentCardfalse{
  align-items: center;
  text-align: center;
  background-color: red;
}

img{
  width: 120px;

}

div.cardHolder{
  display: flex;
  text-align: center;
}

div.cardHolder div{
  margin-right: 40px;
  margin-left: 40px;
}